* {
  font-family: 'Roboto Slab', serif;
  color: #2699fb;
}

.mainContainer {
    max-width: 1150px;
    margin: auto;
}

/* Sidebar */

.sideNav {
	float:left;
	width:25%;
}

.sideNav ul li {
  list-style-type: none;
}

.sideNav input[type="button"] {
    background: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
}

/* Content */
.container {
    border: 3px solid #2699fb;
    margin-top: 23px;
    float: left;
    margin-left: 25px;
    width:72%;
}

/* Challenges */
.challenges img {
	width:100px;
}
