* {
  font-family: 'Roboto Slab', serif;
  color: #2699fb;
  font-weight:300;
}

body {
	background-color: #f7fafd;
}

.mainContainer {
    max-width: 1150px;
    margin: auto;
}

.h1, h1 {
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 30px;
}

/* Sidebar */

.sideNav {
	float:left;
	width:25%;
	padding-top:30px;
}

.sideNav ul {
	padding-left:0;
}

.sideNav ul li {
  list-style-type: none;
}

.sideNav input[type="button"] {
    background: transparent;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2;
    font-family: roboto;
    color: #2699fb;
    font-size: 12px;
    letter-spacing: 0.25px;
}



/* Content */
.container {
    box-shadow: 0px 0px 126px -22px #d9edff;
    border: none !important;
    border-top: 1px solid !important;
    margin-top: 23px;
    float: left;
    margin-left: 25px;
    padding: 30px 70px 11px 43px;
    background: #ffffff;
    width:72%;
    min-height:90vh;

}

/* Challenges */
.challenges img {
	width:100px;
}

.challenges ul li {
	list-style-type: none;
}

.challenges li {
    overflow: hidden;
    margin-bottom: 27px;
    padding: 23px;
    box-shadow: 0px 0px 4px 0px #dedede;
    background: #ffffff;
    border: 0px solid #e0e0e0;
}

h2.title {
    font-size: 17px;
    color: #000;
    font-weight: 300;
}

h2.hello {
    font-weight: 200;
    color: #565656;
    font-size: 25px;
    line-height: 1.25;
}



h3.skillsReq {
    font-size: 11px;
    font-weight: 700;
    width: auto;
    border-top: 1px dotted #adadad;
    text-align: center;
    color: #777676;
    font-family: roboto;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    float: left;
    padding-top: 9px;
    width: 100%;
    margin-bottom: 0px;
    background: transparent !important;
}


p.shortDesc {
    font-family: roboto;
    color: #000;
    font-weight: 300;
    font-size: 12px;
}

h4.time {
    font-size: 11px;
    font-weight: 700;
    background: #30a250;
    padding: 4px 5px 3px;
    text-align: left;
    color: #ffffff;
    font-family: roboto;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    float: left;
    width: auto;
    margin-bottom: 0;
    margin-top: 24px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 4px;
    border-radius: 20px 0 0px 20px;
}

h4.time.end {
    background: #ff6262;
    border-radius: 0px 20px 20px 0px;
    margin-left: 0px;
    padding-right: 17px;
}

h3.welcome {
    font-size: 21px;
    font-weight: 200;
    color: #6f6f6f;
    margin: 0 0 18px 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 9px;
}


#countdown {
    color: #e6c127;
    font-weight: 700;
    font-size: 11px;
    width: auto;
    float: left;
    padding: 7px 23px;
    font-family: roboto;
    background: #fff9dfcc;
}

.challengeBox {
    width: 99%;
    border:none !important;
    background: #f5f5f5;
    box-shadow: 0px 0px 5px #ccc;
    padding: 17px;
    color: #000;
    font-family: roboto;
    border-top: 7px solid #777 !important;
  }

input[type="submit"] {
      background: #3b9e70;
      color: #fff;
      font-family: roboto;
      border: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 10px;
      letter-spacing: 0.25px;
      padding: 10px 20px;
      border-radius: 2px;
      float: left;
}

input[type="file"] {
    display: block;
    background: #f3f3f3 !important;
    color: #ccc !important;
    font-family: roboto;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.25px;
    padding: 9px 20px;
    border-radius: 0px;
    float: left;
    margin-right: 18px;
}

ul.challenges.profile .title {
    font-weight: 600 !important;
    line-height: 2px;
    font-family: roboto;
    font-size: 16px;
    margin-bottom: 18px;
}

span.tag {
    background: #a2a2a2;
    color: #ffffff;
    font-family: roboto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    padding: 2px 10px 2px;
    border-radius: 27px;
}

.profile h4.time {
    border-radius: 0px;
    float: none;
    display: inline-block;
    width: 171px;
    text-align: left;
    padding: 6px 10px 4px 26px;
    font-size: 10px;
    position: absolute;
    top: 0px;
    margin-top: 0px;
    left: 0;
    border-radius: 0 0px 9px 0px !important;
}


.challenges.profile li {
    list-style-type: none !important;
    position:relative;
}

.score {
  border: 2px solid #38b96a;
  float: left;
  padding: 11px 0 0 0;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 1.2;
  color: #38b96a;
  font-weight: 700;
  font-size: 11px;
}
