* {
  font-family: font-family: 'Roboto Slab', serif;
  color: #2699fb;
}

.container {
    border: 3px solid #2699fb;
    margin-top: 23px;
    float: left;
    margin-left: 25px;
}

.sideNav {
  float:left;

}

.sideNav ul li {
  list-style-type: none;
}
