<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="http://cornelltech.kroll.io/nextpath.css">
    <title>Nextpath</title>
  </head>
  <body>
    <div class="mainContainer">

      <div class="sideNav">
        <h1>Nextpath</h1>
        <h3 class="welcome">Hi {{ usr_first_name }}</h3>
        <ul>
          <li><input type="button" onclick="location.href='http://ct-nextpath.herokuapp.com/challenges';" value="Challenges" /></li>
          <li><input type="button" onclick="location.href='http://ct-nextpath.herokuapp.com/companies';" value="Companies" /></li>
          <li><input type="button" onclick="location.href='http://ct-nextpath.herokuapp.com/challenges';" value="Explore" /></li>
          <li><input type="button" onclick="location.href='http://ct-nextpath.herokuapp.com/mychallenges';" value="Accepted Challanges" /></li>
          <li><input type="button" onclick="location.href='http://ct-nextpath.herokuapp.com/profile';" value="Add Experience" /></li>
          <li><input type="button" onclick="location.href='http://ct-nextpath.herokuapp.com/logout';" value="Sign Out" /></li>
        </ul>
      </div>


      <div class="container">
        <h1>Challenge</h1>
        <ul class="challenges">
          <li>
            <img border="0" alt="logo" src='{{ challenge[5] }}' />
            <h2 class="title">{{ challenge[0] }}</h2>
            <p class="shortDesc">{{ challenge[2] }}</p>
            <h4 class="time">Starts: {{ challenge[3] }}</h4>
            <h4 class="time">Ends: {{ challenge[4] }}</h4>
            <textarea rows="10" cols="50">Please enter your answer here.</textarea>
            <form method=post enctype=multipart/form-data>
              <p><input type=file name=file><input type=submit value=Upload>
            </form>
          </li>
        </ul>
      </div>

    </div> <!-- END MAIN -->

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  </body>
</html>
